[submodule "backend"]
	path = backend
	url = https://github.com/alexodidi/Backend-Diplomado-DW-2025.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/alexodidi/Frontend-Diplomado-DW-2025.git
